.register_banner{
    background-image: url(https://img.freepik.com/free-photo/mock-up-abstract-podium-minimal-background-modern-empty-showcase-product-presentation_51768-73.jpg?size=626&ext=jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.form-area{
    background: rgba(240, 209, 224,0.7);
    padding: 20px;
    border-radius: 15px;
}

@media only screen and (max-width:600px){
    
}